<div class="row">
  <div class="col-2">
    <a class="btn btn-primary btn-sm" href="javascript:void()" (click)="openModal()">
      <i class="fas fa-plus-circle">
      </i>
      Nueva
    </a>

    <app-modal [isOpen]="isModalOpen" [title]="'Tienda'" (closeModal)="closeModal()" (saveEvent)="onSave()">
      <app-record-store [(store)]="storeSelected" [submitted]="submitted" [(valid)]="isvalid" />
    </app-modal>

    <app-modal [isOpen]="isModalRelOpen" [title]="'Tienda / Producto'" (closeModal)="closeModal()" (saveEvent)="onSaveRelation()">
      <app-store-product (selectStore)="onSelectStore($event)" (selectProduct)="onSelectProduct($event)"></app-store-product>
    </app-modal>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12 float-right">
    <table class="table table-bordered table-striped dataTable dtr-inline">
      <thead>
        <tr>
          <td>Codigo</td>
          <td>Nombre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let store of Stores">
          <td>{{ store.storeCode }}</td>
          <td>{{ store.storeName }}</td>
          <td style="max-width:50px !important;">
            <a class="btn btn-info btn-sm" href="javascript:void()" (click)="onEdit(store)">
              <i class="fas fa-pencil-alt">
              </i>
              Editar
            </a>
          </td>
          <td style="max-width:50px !important;">
            <a class="btn btn-primary btn-sm" href="javascript:void()">
              <i class="fas fa-folder">
              </i>
              + Dir
            </a>
          </td>
          <td style="max-width:50px !important;">
            <a class="btn btn-danger btn-sm" href="javascript:void()" (click)="onDelete(store)">
              <i class="fas fa-trash">
              </i>
              Eliminar
            </a>
          </td>
          <td style="max-width:50px !important;">
            <a class="btn btn-info btn-sm" href="javascript:void()" (click)="onAddProduct(store)">
              <i class="fas fa-plus-circle">
              </i>
              Producto
            </a>
          </td>
          <td style="max-width:50px !important;">
            <a class="btn btn-success btn-sm" href="javascript:void()" (click)="onViewProducts(store)">
              <i class="fas fa-search">
              </i>
              Productos
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
